<div class="header chat-list-header">
  <div class="avatar" (click)="showAvatarClicked()">Click</div>
  <div class="chat-summary">
    <div class="chat-title">Prince Kumar Kasaudhan</div>
    <div class="chat-message">Watching Bugs♥</div>
  </div>
  <div class="header-options">
  </div>
</div>
<div class="chat-list">
  <single-chat class="chat"></single-chat>
  <single-chat class="chat"></single-chat>
  <single-chat class="chat"></single-chat>
  <single-chat class="chat"></single-chat>
  <single-chat class="chat"></single-chat>
  <single-chat class="chat"></single-chat>
  <single-chat class="chat"></single-chat>
  <single-chat class="chat"></single-chat>
  <single-chat class="chat"></single-chat>
  <single-chat class="chat"></single-chat>
  <single-chat class="chat"></single-chat>
  <single-chat class="chat"></single-chat>
  <single-chat class="chat"></single-chat>
  <single-chat class="chat"></single-chat>
</div>
