.profile-container{
  padding: 10px;
  min-width: 250px;
  color: rgb(241, 22, 22);
}
.avatar{
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: #00796b;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}